.checkbox-wrapper-46 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-46 .cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}
.checkbox-wrapper-46 .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  transition: all 0.2s ease;
  background-color: #faf7f2;
}
.checkbox-wrapper-46 .cbx span:first-child svg {
  position: absolute;
  fill: none;
  stroke: black;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
  top: 18px;
  left: 17px;
}

.checkbox-wrapper-46 .cbx span:last-child {
  padding-left: 8px;
}

.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
  background: #fdc913;
  border-color: #fdc913;
  animation: wave-46 0.4s ease;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

@media (max-width: 1000px) {
  .checkbox-wrapper-46 .cbx {
    transform: scale(0.7);
    display: flex;
  }
}