.homeHeader {
    width: 100%;
    height: 100vh;
    background-image: url("./Assets/mile1-assets/home-banner.png");
    background-size: 100% 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
}

.homeHeaderDiv {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeHeaderDiv .firsat {
    font-family: "Satisfy";
    color: #FDC913;
    font-size: 1.75rem;
    margin: 50px 0 0 0;
}

.homeHeaderDiv .aclik {
    font-family: "Roboto Condensed";
    font-size: 5rem;
    font-weight: 300;
    color: white;
    margin:0;
}

.acim {
    background-color: #FDC913;
    width: 170px;
    border: none;
    height: 50px;
    border-radius: 25px;
    font-weight: 600;
    margin-top: 10px;
}

.homeArticle {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
}

.homeArticle1 {
    display: none;
}

.homeArticle p {
    display: flex;
    align-items: center;
    padding-top: 10px;
    font-weight: 500;
}

.cardPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 100px 0;
    background-color: #FAF7F2;
}

.cardPage2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 23px;
}

.card-1 {
    width: 33vw;
    height: 58.838vh;
    background-image: url("./Assets/mile2-aseets/cta/kart-1.png");
    background-size: 100% 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 15px;
}

.card-p {
    margin: 50px 0 0 50px; 
}

.card-2 {
    width: 33vw;
    height: 28.102vh;
    background-image: url("./Assets/mile2-aseets/cta/kart-2.png");
    background-size: 100% 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 15px;
}

.card-2 p {
    font-size: 30px;
    font-family: "Barlow";
    color: white;
    font-weight: 500;
    margin: 0;
}

.card-3 {
    width: 33vw;
    height: 28.212vh;
    background-image: url("./Assets/mile2-aseets/cta/kart-3.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 15px;
}

.card-3 p {
    font-size: 30px;
    font-family: "Barlow";
    color: black;
    font-weight: 500;
    margin: 0;
}

.elements-1 {
    width: max-content;
    margin: 5vh 0 0 3vw;
}

.elements-1 .ozel {
    font-family: "Quattrocento";
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin: 0;
}

.elements-1 .burger {
    font-family: "Barlow";
    color: white;
    margin: 0;
    font-size: 18px;
}

.siparis {
    background-color: white;
    border: none;
    color: #CE2829;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: bold;
}

.homeMain {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #FAF7F2;
}

.homeMain .most {
    font-family: "Satisfy";
    color: #CE2829;
    font-size: 28px;
    margin-bottom: 0px;
}

.homeMain .doy {
    font-family: "Barlow";
    color: black;
    font-size: 32px;
    font-weight: 600;
}

@media (max-width: 1100px) {
    .homeArticle{
        display: none;
    }
    .homeArticle1 {
        width: 100%;
        display: flex;
        height: min-content;
        justify-content: center;
        height: 8vh;
        align-items: center;
    }

}

@media (max-width: 700px) {
    .homeHeaderDiv .aclik {
        font-family: "Roboto Condensed";
        font-size: 2.5rem;
        font-weight: 300;
        color: white;
        margin:0;
    }

    .homeHeader {
        height: 45vh;
        background-size: cover;
    }


    .cardPage {
        display: flex;
        flex-direction: column;
    }

    .card-1{
    width: 80vw;
    height: 25vh;            
    }

    .elements-1 {
        scale: 0.3;
        margin: -60px 0 0 -50px;
    }

    .elements-1 .siparis {
        scale: 1.4;
        margin-left: 20px;
    }

   .card-2{
    width: 80vw;
    height: 25vh;
    }

   .card-3{
    width: 80vw;
    height: 25vh;
    }

    .card-p {
        margin: 0 0 0 -25vw;
        scale: 0.4;
    }

    .homeMain .doy {
        font-size: 24px;
    }
}